<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" >
      <h2>Inicia sesión</h2>
      <mat-error *ngIf="!loginValid">
        El usuario o la contraseña son incorrectos.
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Usuario" [(ngModel)]="username" name="username" required>
        <mat-error>
          Por favor ingrese su número de cédula
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
        <mat-error>
          Por favor ingrese una contraseña válida
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
    </form>
  </mat-card-content>
</mat-card>
